thesis.log
*.aux
thesis.bbl
thesis.blg
thesis.lof
thesis.lol
thesis.lot
thesis.out
thesis.pdf
thesis.run.xml
thesis.toc
thesis-blx.bib
thesis.fdb_latexmk
thesis.fls
thesis.synctex.gz
bibliography.bib.*